/*	Debug classes
	Add this stylesheet to the head section for debug styling:	
	<link rel="stylesheet" type="text/css" href="debug.css">
	AND DON'T FORGET TO REMOVE IT WHEN YOU'RE DONE!
*/

.row,
div[class^="col-"] {
	border-width: 1px;
	border-style: solid;
}
.row {
	border-color: red;
}
div[class^="col-"] {
	border-color: blue;
}