/* Mobile first */

@-ms-viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container {
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}

[class^="col-"] {
	padding: 10px;
	margin-bottom: 10px;
}

[class^="col-"].row-header {
	padding-bottom: 0;
	margin-bottom: 0;
}

.col-1 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-2 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-3 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-4 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-5 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-6 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-7 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-8 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-9 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-10 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-11 {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.col-12,
.jumbotron {
	flex-ms-: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}


/* Cell phones - S */
@media only screen and (min-width: 320px) {
	.container {
		max-width: 100%;
	}

	.row {
	}

	.col-1 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-2 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-3 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-4 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-5 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-6 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-7 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-8 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-9 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-10 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-11 {
		flex-ms-: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-12,
.jumbotron {
		flex-ms-: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Tablets - M */
@media only screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.col-1 {
		-ms-flex: 0 0 8.333%;
		flex: 0 0 8.333%;
		max-width: 8.333%;
	}

	.col-2 {
		-ms-flex: 0 0 16.5%;
		flex: 0 0 16.665%;
		max-width: 16.665%;
	}

	.col-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-4 {
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}

	.col-5 {
		-ms-flex: 0 0 41.667%;
		flex: 0 0 41.667%;
		max-width: 41.667%;
	}

	.col-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-7 {
		-ms-flex: 0 0 58.333%;
		flex: 0 0 58.333%;
		max-width: 58.333%;
	}

	.col-8 {
		-ms-flex: 0 0 66.667%;
		flex: 0 0 66.667%;
		max-width: 66.667%;
	}

	.col-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-10 {
		-ms-flex: 0 0 83,333%;
		flex: 0 0 83.333%;
		max-width: 83.333%;
	}

	.col-11 {
		-ms-flex: 0 0 91.667%;
		flex: 0 0 91.667%;
		max-width: 91.667%;
	}

	.col-12,
	.jumbotron {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/* Monitors - L */
@media only screen and (min-width: 990px) {
	.container {
		max-width: 960px;
	}
}

/* Extra wide screen - XL */
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/* === Help classes === */

.hide {
	display: none;
}

.show-m {
	display: none;
}

.show-l {
	display: none;
}

.show-xl {
	display: none;
}
	
/* Tablets - M */
@media only screen and (min-width: 768px) {
	.show-m {
		display: block;
	}
}

/* Monitors - L */
@media only screen and (min-width: 990px) {
	.show-l {
		display: block;
	}
}

/* Extra wide screen - XL */
@media only screen and (min-width: 1200px) {
	.show-xl {
		display: block;
	}
}