 a, div, input, li, ul {
     transition: all 0.5s;
}
 html, body {
	 font-family: 'Trebuchet MS', Helvetica, sans-serif;
     font-size: 12px;
	 font-size-adjust: 0.7;
	 line-height: 1.5rem;
	 color: #f9f9e5;
     background-color: #050000;
     position: relative;
     height: 100%;
}
 body {
     padding-top: 1rem;
}
 h1, h2, h3, h4, h5, h6 {
     margin-top: 0;
     margin-bottom: 10px;
     font-weight: normal;
}
 h1, h2, h3 {
     text-align: center;
}
 h1 {
     font-size: 1.6rem;
}
 h2{
     font-size: 1.4rem;
}
 h3 {
     font-size: 1.2rem;
}
 h4, h5, h6 {
     font-size: 1rem;
     font-weight: bold;
}
 .col-header {
     text-align: center;
}
 a {
     text-decoration: none;
	 color: #ffff66;
}
 a:hover {
     text-decoration: none;
	 color: #49eb2f;
}
 p {
     margin: 0 0 10px 0;
}
 p:last-of-type {
     margin-bottom: 0;
}
 img {
     display: block;
     max-width: 100%;
     height: auto;
}
 hr {
     height: 1px;
     background-color: #555555;
     border: none;
}

.mbdm-admin-form p,
.mbdm-admin-form div {
     margin: 0 0 10px 0;
}
.mbdm-admin-form section {
	margin-top: 2rem;
}
.mbdm-admin-form label {
	display: block;
	text-transform: capitalize;
}
.mbdm-admin-form input[type="email"],
.mbdm-admin-form input[type="number"],
.mbdm-admin-form input[type="password"],
.mbdm-admin-form input[type="search"],
.mbdm-admin-form input[type="text"],
.mbdm-admin-form input[type="url"]  {
	border-style: none;
	width: 100%;
	padding: 0.5rem;
	height: 2rem;
	font-size: 16px;
	background-color: #f2e3e3;
	border-radius: 8px;
}

.mbdm-admin-form textarea {
	border-style: none;
	width: 100%;
	padding: 0.5rem;
	resize: vertical;
	height: 30rem;
	min-height: 5rem;
	max-height: 45rem;
	font-size: 16px;
	background-color: #f2e3e3;
	border-radius: 8px;
}

.mbdm-admin-form input[type="submit"] {
	display: block;
	margin: 0.5rem auto;
	padding: 1rem 3rem;
	background-color: #f4e8b5;
	border-style: none;
	border-radius: 8px;
	font-size: 1.2rem;
	cursor: pointer;
}
.mbdm-admin-form input[type="submit"]:hover {
	background-color: #49eb2f;
	box-shadow: 1px 1px 3px 0px rgba(255,255,255,0.5);
}

/* === Media queries === */

/* Cell phones - S */
@media only screen and (min-width: 320px) {
	.mbdm-admin-form textarea {
		height: 20rem;
	}
}

/* Tablets - M */
@media only screen and (min-width: 768px) {
	.mbdm-admin-form textarea {
		height: 12rem;
		font-size: 14px;
	}
}

/* Monitors - L */
@media only screen and (min-width: 990px) {
	
}

/* Extra wide screen - XL */
@media only screen and (min-width: 1200px) {
	
}
